body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mainContainer {
  display: inline-block;
  width: 50%;
}

.mainListView {
  width: 50%;
  float: left;
}

.mainPreview {
  width: 50%;
  display: inline-block;

}

.preview {
  display: block;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  border-radius: 10px;
}

.active {
  background-color: #3399ff;
  color: #FFFFFF;
}

.listitem {
  text-align: left;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.listImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: inline-block;
  float: left;
  margin-right: 5px;
  border-radius: 5px;
}

.listTitle {
  display: inline-block;
}
