body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mainContainer {
  display: inline-block;
  width: 50%;
}

.mainListView {
  width: 30%;
  display: inline-block;
  float: left
}

.mainPreview {
  width: 50%;
  height: 80vh;
  display: inline-block;
}


@media (max-width: 1200px) {
  .mainContainer {
    width: 100%;
  }
  .mainListView {
    width: 90%;
    display: block;
  }
  .mainPreview {
    width: 95%;
    display: block;
  }
}



.mainPreview img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.active {
  background-color: #3399ff;
  color: #FFFFFF;
}

.listitem {
  width: 100%;
  text-align: left;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s
}

.listitem img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: inline-block;
  float: left;
  margin-right: 5px;
  border-radius: 5px;
}

.listTitle {
  display: flex;
  white-space: nowrap;
}
